body, #app  {
    font-family: 'Open Sans', sans-serif !important;
}
.m-10{
    margin: 10px;
}
.btn-primary, .btn-primary:hover {
        color: #fff;
        background-color: #1d66a2 !important;
        border-color: #1d68a2 !important;
        
    }
    input{
        border-radius: 0px !important;
        font-size: .9rem !important;
    }
    input:focus{
        border: 1px solid #ced4da !important;
        box-shadow: none !important;
        
     }
td{
    text-align: left;
    padding: 10px;
    font-size: 14px;
}
th{
    width: 120px;
    text-align: left !important;
    padding: 20px;
}
nav.bg-info {
    background-color: #1D66A2 !important;
}
.cur-pointer{
    cursor: pointer;
}
ul.dropdown-menu.dropdown-menu-right.show, 
ul.dropdown-menu.dropdown-menu-right.show li a, 
ul.dropdown-menu.dropdown-menu-right.show li a:hover{
    top: 47px; border-radius: 0px; background: #1d66a2; color: #fff;
}
.navbar-nav li a.nav-link.dropdown-toggle,
.navbar-nav li a.nav-link.dropdown-toggle:hover{
    color: #fff
}
.flex{
    display: flex;
}
.justify-content-end{
    justify-content: flex-end;
}
.align-item-center{
    align-items: center;
}
.contentPageH1{
    padding:20px; 
    font-size: 30px;
    color: #000000; 
    text-align: left;
    padding-left: 0px;
    padding-bottom: 0px;
}
.box-shadow:hover{
    box-shadow: 0 2px 5px 0 rgb(55 161 255 / 26%), 0 4px 12px 0 rgb(121 155 254 / 25%);
}
.box-shadow:hover img{
    transform: scale(1.15);
    -webkit-transition:0.5s linear;
    -moz-transition:0.5s linear;
    -o-transition:0.5s linear;
    -ms-transition:0.5s linear;
    transition: 0.5s linear;
}
.hoverSale{
    -webkit-transition:0.5s linear;
    -moz-transition:0.5s linear;
    -o-transition:0.5s linear;
    -ms-transition:0.5s linear;
    transition: 0.5s linear;
}
.listImgDiv{
    overflow: hidden;
}
.list .listImgDiv{
    display: none;
}
.sr-only{
    display: none;
}
.fade-in {
    animation: fade-in 1s ease-in-out both;
}