body{
    font-family: 'Open Sans', sans-serif !important;
}
.m-10{
    margin: 10px;
}
.btn-primary, .btn-primary:hover {
        color: #fff;
        background-color: #1d66a2 !important;
        border-color: #1d68a2 !important;
        
    }
    input{
        border-radius: 0px !important;
        font-size: .9rem !important;
    }
    input:focus{
        border: 1px solid #ced4da !important;
        box-shadow: none !important;
        
     }
td{
    text-align: left;
    padding: 10px;
    font-size: 14px;
}
th{
    width: 120px;
    text-align: left !important;
    padding: 20px;
}